body{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) , url(people-making-hands-heart-shape-silhouette-sunset_53876-15987.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}
header{
   
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}